/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  h2 {
    margin: 8px 24px;
  }
}

main {
  text-align: center;
  background-color: lightgrey;
  padding-top: 16px;
}

form {
  max-width: 800px;
  min-width: 375px;
  margin: 28px auto;
  padding: 28px;
  text-align: left;
  background-color: white;
}

label {
  display: block;
  margin: 12px;
}

button[type="submit"] {
  margin: 28px auto;
  width: 100%;
}

.error {
  color: red;
  display: block;
  font-size: .8rem;
  &::before {
    content: '* ';
  }
}
