<header>
  <h2>Battleface Assessment</h2>
</header>

<main>
  <h1>
    Travel Insurance Quote
  </h1>
  <div *ngIf="quote" class="quote">
    <h4>Congratulations! You've got a quote!</h4>
    <h5>Reference ID: {{quote.quotation_id}}</h5>
    <h2>{{quote.total | currency:quote.currency_id:true:'1.2-2' }}</h2>
    <button type="button" (click)="quote = null">
      Get another quote
    </button>
  </div>
  <form *ngIf="!quote" [formGroup]="form" (ngSubmit)="submitForm()">
    <label for="start-date-input" *ngIf="form.get('start_date') as ctrl">
      Start Date
      <input id="start-date-input" formControlName="start_date" type="text">
      <span *ngIf="ctrl.touched && ctrl.invalid" class="error">
        {{dateErr}}
      </span>
    </label>

    <label for="end-date-input"  *ngIf="form.get('end_date') as ctrl">
      End Date
      <input id="end-date-input" formControlName="end_date" type="text">
      <span *ngIf="ctrl.touched && ctrl.invalid" class="error">
        {{dateErr}}
      </span>
    </label>

    <label for="currency-id-select">
      Currency ID
      <select id="currency-id-select" formControlName="currency_id" type="text">
        <option *ngFor="let currencyId of currencyIds">{{currencyId}}</option>
      </select>
    </label>

    <div formArrayName="age">
      <label *ngFor="let ageCtrl of ageFormArray.controls; let i = index" [for]="travelerInputId(i)">
        Traveler #{{i + 1}} Age
        <input [id]="travelerInputId(i)" [formControlName]="i">
        <button type="button" (click)="ageFormArray.removeAt(i)" *ngIf="i > 0">
          - Remove Traveler
        </button>
        <span *ngIf="ageCtrl.touched && ageCtrl.invalid" class="error">
          {{ageErr}}
        </span>
      </label>

      <button type="button" (click)="ageFormArray.push(this.createAgeControl())">
        + Add a Traveler
      </button>
    </div>

    <button [disabled]="form.invalid || form.untouched" type="submit">
      Get Quote
    </button>
  </form>
</main>
